<?xml version="1.0"?>
<config>
    <modules>
        <Mike_Faq>
            <version>0.1.1</version>
        </Mike_Faq>
    </modules>
    <global>
        <blocks>
            <mike_faq>
                <class>Mike_Faq_Block</class>
            </mike_faq>
        </blocks>
        <helpers>
            <mike_faq>
                <class>Mike_Faq_Helper</class>
            </mike_faq>
        </helpers>
        <models>
            <mike_faq>
                <class>Mike_Faq_Model</class>
                <resourceModel>mfaq_resource</resourceModel>
            </mike_faq>
            <mfaq_resource>
                <class>Mike_Faq_Model_Resource</class>
                <entities>
                    <table_faq>
                        <table>faq_faqitems</table>
                    </table_faq>
                </entities>
            </mfaq_resource>
        </models>
        <resources>
            <faqs_setup>
                <setup>
                    <module>Mike_Faq</module>
                </setup>
            </faqs_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mike_Faq before="Mage_Adminhtml">Mike_Faq_Adminhtml</Mike_Faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <mike_faq>
                <use>standard</use>
                <args>
                    <module>Mike_Faq</module>
                    <frontName>mfaq</frontName>
                </args>
            </mike_faq>
        </routers>
        <layout>
            <updates>
                <mike_faq>
                    <file>mike_faq.xml</file>
                </mike_faq>
            </updates>
        </layout>
    </frontend>
</config>
